<h1>Here are all the coupons!</h1>

<% @coupons.each do |coupon| %>
    <p>Coupon Code: <%= link_to coupon.coupon_code, coupon_path(coupon) %></p>
    <p>Store: <%= link_to coupon.store, coupon_path(coupon)%></p>
<% end %>